.style{
    width: 18rem;
    
    
    padding: 1rem;
    
}

.sizeBody{

}

/* .size{
    width: 18rem !important;
    height: 36rem !important;
    margin: 1rem;
    display: inline-block !important;

}

.centrarBoton{
    display: flex;
    justify-content: center;
    
}
*/

 .style{
     width: 200px;
     margin: 1rem;

 }
.sizeBody {
    
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
    height: 40%;
    
    
    
}

.sizeImg{
    height: 60%;
    object-fit: contain;
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.imageProductDetail{
    width: 90%;
    height: 80vh;
    object-fit: contain;
    padding: 2rem;
}

.containerImageDetail{
   width: 40%;
}
.propsInfoDetail{
    width: 60%;
}

.propsInfoDetail{
   padding: 5rem;
}

.titleDetail{
    font-size: 4rem;
}

.descriptionDetail{
    padding-top: 2rem;
    font-weight: 600;
}

.priceDetail{
    padding-top: 20rem;
    font-weight: 800;
    font-size: 3rem;
}

.buttonStyle{
    width: 100%;
}