.style{
    width: 18rem !important;
    border: 2px solid black !important;
    margin-top: 2.5rem !important;
    padding: .6rem;
    margin: 1rem;    
    box-shadow: 5px 5px black;
}

.sizeBody {
    
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
    height: 40%;
    
    
    
}

.sizeImg{
    height: 60%;
    object-fit: contain;
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}


.imageProductDetail{
    width: 90%;
    height: 80vh;
    object-fit: contain;
    padding: 2rem;
}

.containerImageDetail{
   width: 40%;
}
.propsInfoDetail{
    width: 60%;
}

.propsInfoDetail{
   padding: 5rem;
}

.titleDetail{
    font-size: 4rem;
}

.descriptionDetail{
    padding-top: 2rem;
    font-weight: 600;
}

.priceDetail{
    padding-top: 10rem;
    font-weight: 800;
    font-size: 3rem;
    color: green;
}

.buttonStyle{
    width: 100%;
}

